@media screen and (max-width:800px) {
   aside, article {
      width: 100%;
      }
   }


h1.head {
   text-align:center;
   font-weight:bold;
   font-family:vivaldi;
   text-shadow: 5px 5px 2px white;
   font-size: 75px;
   color: #333;
   line-height: 0.5;
   }

h3.head {
   font-size: 30px;
   text-align:center;
   font-weight:bold;
   font-variant: small-caps;
   line-height: 0.5;
   color: #333;
   text-shadow: 5px 5px 2px white;
   }

header.head {
   background-image: url("texture.jpg");
   padding: 30px;
   }


/* Navigation Bar Styling Below */

ul.nav {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   }

li.nav {
   float: left;
   }

li.nav a {
   display: block;
   color: white;
   font-variant: small-caps;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   }

li a:hover {
   background-color: #111;
   }

/* Basic Formatting */

aside {
   font-variant: small-caps;
   text-align: center;
   float: left;
   font-weight:bold;
   color: #333;
   margin: 0 1.5%
   width: 20%;
   height: 1275px;
   background-image: url("texture.jpg");
   }

aside h1 {
   text-shadow: 5px 5px 2px white;
   }

img.headshot {
   margin: 25px;
   border-style: groove; 
   border-width: 5px;
   }

article {
   float: right;
   margin: 0 1.5%;
   width: 70%;
   }

footer {
   background-color: #333;
   }


/* Contact Form Formatting */

h1.contact {
  width: 85%;
  text-align: center;
  font-variant: small-caps;
  text-shadow: 2px 2px 1px #333;
  font-size: 34px;
  }

h3.form {
  font-variant: small-caps;
  line-height: 0;
  padding: 5px;
  margin: 5px;
  }

p.contact {
  font-variant: small-caps;
  text-align: center;
  width: 85%
  }

input[type=submit] {
  background-color: #30c0c0;
  border-radius: 5px;
  margin: 4px;
  padding: 10px;
  font-variant: small-caps;
  font-weight: bold;
  width: 100px;
  align: center;
  color: white;
  text-shadow: 2px 2px 1px #333;
  }

input[type=text], input[type=email], input[type=tel] {
  padding: 10px;
  margin: 0px;
  border-radius: 5px;
  width: 85%;
  }

textarea {
  height: 150px;
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  width: 85%;
  }


/* Portfolio Formatting */

h1.portfolio {
  font-variant: small-caps;
  text-shadow: 2px 2px 1px #333;
  font-size: 34px;
  width: 85%;
  text-align: center;
  }

iframe {
  padding: 10px;
  margin: 5px;
  width: 85%;
  height: 600px;
  align: center;
  border-radius: 5px;
  }

button {
  align: center;
  border: none;
  border-radius: 5px;
  font-variant: small-caps;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  color: #333;
  }


/* Licenses & Certifications Formatting */

h1.license {
  width: 85%;
  text-align: center;
  font-variant: small-caps;
  text-shadow: 2px 2px 1px #333;
  font-size: 34px;
  }

h3.license {
  font-variant: small-caps;
  line-height: 0.5;
  }

img.license {
   float: left;
   margin: 10px;
   border-style: groove; 
   border-width: 5px;
   }


/* Experience Formatting */

h1.experience {
  width: 85%;
  text-align: center;
  font-variant: small-caps;
  text-shadow: 2px 2px 1px #333;
  font-size: 34px;
  }

h3.experience {
  font-variant: small-caps;
  line-height: 0;
  }

section.experience {
  padding: 15px;
  margin: 5px;
  }


/* Education Formatting */

h1.education {
  width: 85%;
  text-align: center;
  font-variant: small-caps;
  text-shadow: 2px 2px 1px #333;
  font-size: 34px;
  }

h3.education {
  font-variant: small-caps;
  line-height: 0;
  }

section.education {
  padding: 15px;
  margin: 5px;
  }

/* Home Formatting */

h1.home {
  width: 85%;
  text-align: center;
  font-variant: small-caps;
  text-shadow: 2px 2px 1px #333;
  font-size: 34px;
  }

p.home {
  font-size: 18px;
  }

ul.home {
  font-size: 18px;
  font-variant: small-caps;
  list-style-type: circle;
  }

body {
  color: #333;
  }
